---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="مشاوره رایگان">
  <div class="container py-24">
    <h1 class="text-5xl font-bold">درخواست مشاوره رایگان</h1>
    <p class="mt-4 text-xl">فرم درخواست - در حال توسعه</p>
  </div>
</Layout>