---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="آکادمی">
  <div class="container py-24">
    <h1 class="text-5xl font-bold">آکادمی وبیرو</h1>
    <p class="mt-4 text-xl">صفحه بلاگ و دوره‌ها - در حال توسعه</p>
  </div>
</Layout>