---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="سئو سایت">
  <div class="container py-24">
    <h1 class="text-5xl font-bold">سئو سایت</h1>
    <p class="mt-4 text-xl">صفحه سئو - در حال توسعه</p>
  </div>
</Layout>