---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="نمونه کارها">
  <div class="container py-24">
    <h1 class="text-5xl font-bold">نمونه کارها</h1>
    <p class="mt-4 text-xl">صفحه نمونه‌کارها - در حال توسعه</p>
  </div>
</Layout>